<h1>Log In</h1>
<%= form_tag session_path, :class => 'form-horizontal' do %>

    <%= text_field_tag :email, params[:email], {:class => 'form-control', :placeholder => "Email"} %>
  <br>
    <%= password_field_tag :password, params[:password], {:class => 'form-control', :placeholder => "Password"} %>
  <br>
    <%= submit_tag "Log In", :class => 'btn btn-default' %>
  <hr>
<% end %>