<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.firstname %>.</h1>
    <p>
      This message is to inform you that you have been permanently removed from Rotten Mangoes.<br>
    </p>
    <p>
      To see what you're missing out on, check us out anytime: <%= @url %>.
    </p>
    <p>Thanks for nothing! You're worthless. </p>
  </body>
</html>