<h1>All Users</h1> 
<%= link_to "<< Back to all movies", movies_path %><br/>

<hr>
  <h3><%= link_to ":: Create a new user ::", new_admin_user_path %></h3>
<hr>

<%= paginate @users %>
  <% @users.each do |user| %>
    <%= render 'show_user', user: user %>
    <hr>
  <% end %>
<hr>
