<div class="jumbotron" >
  <h1 id="header"><%= link_to "Rotten Mangoes", movies_path %>  <%= link_to image_tag("mango-hi.png", :class => "logo"), "http://youtu.be/AnKysErG4hA" %></h1>
  <hr>
    <%= render 'layouts/search' %> 
</div>